body {
  background-color: $white;
  color: $text-color;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4;
}

img {
  display: block;
}

a {
  text-decoration: none;
}
